<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>relaxation-Kick-Winter-2-90</string>
		<real>0.25</real>
		<integer>6</integer>
	</array>
	<array>
		<string>relaxation-Dub-Pulse-90</string>
		<real>0.23</real>
		<integer>5</integer>
	</array>
	<array>
		<string>relaxation-Click-Winter-1-90</string>
		<real>0.25</real>
		<integer>70</integer>
	</array>
	<array>
		<string>relaxation-Absynth-Beach-90</string>
		<real>0.12</real>
		<integer>15</integer>
	</array>
	<array>
		<string>relaxation-Blue-Sun-90</string>
		<real>0.2</real>
		<integer>5</integer>
	</array>
	<array>
		<string>relaxation-Bouncing-Mark-I-90</string>
		<real>0.2</real>
		<integer>5</integer>
	</array>
	<array>
		<string>relaxation-Carrier-90</string>
		<real>0.2</real>
		<integer>10</integer>
	</array>
	<array>
		<string>relaxation-Cypress-90</string>
		<real>0.2</real>
		<integer>4</integer>
	</array>
	<array>
		<string>relaxation-Dance-Organ-90</string>
		<real>0.25</real>
		<integer>5</integer>
	</array>
	<array>
		<string>relaxation-Distant-Pianet-90</string>
		<real>0.18</real>
		<integer>6</integer>
	</array>
	<array>
		<string>relaxation-Dominant-90</string>
		<real>0.12</real>
		<integer>5</integer>
	</array>
	<array>
		<string>relaxation-Eighties-EP-90</string>
		<real>0.2</real>
		<integer>10</integer>
	</array>
	<array>
		<string>relaxation-Empee-EP-90</string>
		<real>0.2</real>
		<integer>5</integer>
	</array>
</array>
</plist>
